.wbk{margin-left: 120px;}

.dateStyle{width:80%;  height:24px; border:1px solid #CCCCCC; padding:2px 4px; line-height:24px; color:#606060; border-radius: 2px; background-image:url(../images/date.png); background-position:95% center; background-repeat:no-repeat;}